
<div class = "row">
	<div class = "col-md-4"></div>
	<div class = "col-md-4">
		<h1>Create an Account!</h1>
		<%= render 'users/form', user: @user %>
	</div>
	<div class = "col-md-4"></div>

</div>


