<p id="notice"><%= notice %></p>


<%= render 'posts/post', post: @post, url: "/posts/#{@post.id}/new_comment_post", like_path: "/posts/#{@post.id}/toggle_like_post" %>
<%if current_user == @post.user%>
<%= link_to "Edit", edit_post_path(@post)%>
<%end%>

