/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $theme-colors: (
  "primary": #77A7A7

);

$body-bg: #FAFAFA;


@import "bootstrap";

.avatar-display {
	border-radius: 50%;
	
}


nav {
	padding: 0;
	background: none;
	border: none;
	border-bottom: solid thin #e6e6e6;
}

.nav-item {
  font-size: 13px
}

.card {
	background-color: #FFFFFF
}

.like-display {
	font-size: 20px
}

.dp {
	border-radius: 50%;
}

.comment_post {
	padding: 0;
	background: none;
	border: none;
	border-top: solid thin #efefef;
}

.header-icon {
	font-size: 40px
}

.handle-title {
	font-color: black;
}